// ---------------------------------------
// Colors
// ---------------------------------------

$cb1: #0f0f0f;
$cb2: #ffffff;
$cb3: #878787;
$cb4: #202020;

$cp1: #009de0;

// ---------------------------------------
// Spaces
// ---------------------------------------

$space-xxs: 8px;
$space-xs: 16px;
$space-sm: 24px;
$space-md: 32px;
$space-lg: 40px;

// ---------------------------------------
// Global styles
// ---------------------------------------

$g-font-size: 14px;
$g-line-height: 18px;
$g-font-family: 'Poppins', sans-serif;
$g-color: $cb2;

$g-font-size-sm: 16px;
$g-line-height-sm: 20px;

// ---------------------------------------
// Buttons
// ---------------------------------------

$btn-height: $space-lg;

// ---------------------------------------
// Form
// ---------------------------------------

$input-height: $space-lg;

// ---------------------------------------
// Wrapper
// ---------------------------------------

$wrapper: 1140px;
$wrapper-space-sm: 30px;
$wrapper-space-xs: 20px;

// ---------------------------------------
// Media Queries
// ---------------------------------------

$screen-xs: 699px;
$screen-sm: 1039px;
$screen-md: 1366px;
$screen-lg: 1600px;